<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
        <div class="comment-content" id ="this_comment_<%= comment.id %>"></div>
        <p><%= comment.content %></p>
        <p><%= link_to "コメント編集", edit_post_comment_path(post, comment), remote: true %></p>
      </li>
    <% end %>
  <% end %>
</ul>