<div class="top_background">
  <div class="content_area">
   <p id="notice"><%= notice %></p>
    <h1 class="index_title1">Trailsとは</h1>
    <p class="index_text">現役の鉄道運転士が作成した線区情報を共有するアプリケーションです。Train(列車)・Rail(線路)・Rails(ruby on rails)の３つ言葉を掛け合わせました。</p>
    <h2 class="index_title2">このアプリが解決する課題</h2>
    <p class="index_text">これまで、鉄道運転士は乗務引継ぎ(運転士が運転していた列車を他の運転士へ引き継ぐこと)の際、運転していた線区のその日毎の路面状況、沿線情報、車両状態等の情報を申し送り事項として口頭で引き継ぐのが慣例でした。そのため本来その線区を担当する全ての運転士に共有されるべき情報も１対１の間でやりとりされるクローズドなものとなりがちでした。このアプリは日時・テキスト・位置情報などの投稿機能により所属する線区ごとの情報を全ての運転士,また司令室・駅員・技術スタッフなどステークホルダー社員が閲覧可能となることで,線区全体の安全性の向上を期待できます。</p>
    <h2 class="index_title2">機能一覧</h2>
    <p class="index_title3">【投稿機能】</p>
    <p class="index_text">発生時刻、発生内容、車両情報、位置情報等の情報を投稿できます。</p>
    <p class="index_title3">【所属部署機能】</p>
    <p class="index_text">ユーザーを所属部署ごとにグルーピングできます。また、投稿をグループごとに表示できます。</p>
    <p class="index_title3">【コメント機能】</p>
    <p class="index_text">投稿した内容にコメントができます。投稿の内容に関して社員同士でコミュニケーションが取れます。</p>
    <p class="index_title3">【ブックマーク機能】</p>
    <p class="index_text">他人が投稿した内容をブックマークできます。自分の業務に関連する内容の投稿等を保存できます。</p>
  </div>
</div>

