// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top_background {
  background-image: url("/images/SL.jpeg");
  background-size: cover;
  height: 1200px;
  color:white;
  font-weight: bold;
}

.content_area {
  width:70%; 
}

.container {

  background-size: cover;
  height: 1000px;
  width: 100%;
  box-sizing:border-box
}

.top_title {
  font-weight: bold;
  color: #080808;
  
}

.navbar {
  background-color: rgb(84, 84, 84);
  width: 100%;
  padding: 20px 0 10px 0;
  color: #19192280;
  margin: auto;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.footerFixed{
  min-height: 100vh; /* ←コンテンツの高さの最小値＝ブラウザの高さに指定 */
  position: relative;/* ←相対位置 */
  box-sizing: border-box;
}

.footer {
  background-color: rgb(84, 84, 84);
  width: 100%;
  padding: 20px 0 10px 0;
  color: #19192280;
  margin: auto;
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  margin-top: 0;
  bottom: 0;
  text-align: center;
}
