// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top_title {
  font-weight: bold;
  color: #080808;
  
}

.navbar {
  background-color: rgb(169, 218, 169);
  width: 100%;
  padding: 20px 0 10px 0;
  color: #19192280;
  margin: auto;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.footer {
  background-color: rgb(169, 218, 169);
  width: 100%;
  padding: 20px 0 10px 0;
  color: #19192280;
  margin: auto;
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  text-align: center;
}