.signup_form {
  font-size: 15px;
  line-height: 2;
  padding-top: 50px;
  padding-bottom: 50px;
  height:1000px;
}

.signup_area {
  width:500px;
  margin: 0 auto;
}

.login_form {
  font-size: 15px;
  line-height: 2;
  padding-top: 50px;
  padding-bottom: 50px;
  height:800px;
}

.login_area {
  width:200px;
  margin: 0 auto;
}

.unit_form {
  font-size: 15px;
  line-height: 2;
  padding-top: 50px;
  padding-bottom: 50px;
  height:500px;
}

.unit_area {
  width:500px;
  margin: 0 auto;
}